:root {
    --white: #ffffff;
    --red: #ff3737;
    --red2: #e22a2a;
    --red3: #ff4545;
    --red4: #dd251a;
    --grey1: #f2f2f2;
    --blue: #476b7e;
    --black: rgba(39, 48, 57, 1);
    --red5: rgba(226, 42, 42, 1);
}
