@import "./vars/colors.scss";
@import "./vars/fonts.scss";
@import "./base/fonts.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--mont);
    font-weight: 600;
    color: var(--white);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    color: #fff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    z-index: 100;
}


.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    height: 100%;
    opacity: 0.7;
    background-color: #011c23;
}

@media (max-width: 1500px) {
    .container {
        padding: 0 25px;
    }
    .container.header__container {
        padding: 0;
    }
}
@media (max-width: 800px) {
    .header__container {
        padding: 0;
    }

    .container .container {
        padding: 0;
    }
}
