.header__theme {
  color: #000;
}

.header__theme a {
  color: #000;
}

.header__theme .nav__item {
  background-color: rgba(232, 241, 245, 1);
}

.header__theme .nav__item:hover {
  background-color: rgba(71, 107, 126, 1);
  color: #fff;
}

.header__theme .menu {
  top: 180px;
}

.header__theme .nav__item::after {
  content: url("../../../public/images/icons/arrow-down--black.svg");
}

.header__theme .nav__item:hover {
  &::after {
    content: url("../../../public/images/icons/arrow-down.svg");
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  p {
    margin-left: 43px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .logoRt {
    display: none;
  }
}

.logoRt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  aspect-ratio: 213/65;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.location {
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  position: relative;
  &::before {
    content: url("../../../public/images/icons/location.svg");
    position: absolute;
    left: -52px;
  }
}

.tel {
  a {
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 5px;
    position: relative;
    &::before {
      content: url("../../../public/images/icons/call.svg");
      margin-right: 10px;
      position: absolute;
      left: -25px;
    }
  }
  p {
    color: var(--red);
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: underline;
  }
}

.nav__item_active {
  background-color: var(--red) !important;
  transition: all ease 0.3s;
  border-radius: 8px;
  color: #fff !important;
}

.nav {
  max-width: 1440px;
  width: 100%;
  margin-top: 25px;
  position: relative;

  &__list {
    display: flex;
    text-align: center;
    border-radius: 8px;
  }
  &__item {
    max-width: 206px;
    width: 100%;
    cursor: pointer;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    &:first-child {
      border-radius: 8px 0 0 8px;
    }
    &:last-child {
      border-radius: 0 8px 8px 0;
    }
    &:hover {
      background-color: var(--red);
      transition: all ease 0.3s;
      border-radius: 8px;
    }
  }
}

.menu {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  z-index: 10;
  left: 50%;
  transform: translate(-50%);
  top: 168px;
  margin-top: 20px;
  font-family: var(--sans);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding: 59px 52px 64px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(72px);
  border-radius: 8px;
  display: flex;
  gap: 142px;
  flex-wrap: wrap;
}

.menu.menu__news {
  display: block !important;
  max-width: none !important;
}

.menu__title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.menu__text {
  margin-bottom: 8px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.menu__link {
  color: rgba(255, 55, 55, 1);
  font-weight: 600;
  letter-spacing: 0.02em;
  text-decoration: underline;
  margin-top: 8px;
  &::after {
    content: url("../../../public/images/icons/arrow-right.svg");
    position: relative;
    left: 27px;
    top: 2px;
  }
}

.logo__menu_mobile {
  display: none;
}
.logo__call_mobile {
  display: none;
  background: linear-gradient(180deg, #ff6969 0%, #ff4545 100%);
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  & img {
    margin-top: 0px;
  }
}
.logo__menu_mobile_back {
  display: none;
  background: linear-gradient(180deg, #ff6969 0%, #ff4545 100%);
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  & img {
    margin-top: 0px;
  }
}
.mobile {
  display: block;
  background-color: #fff;
  position: fixed;
  top: 50px;
  width: 100%;
  left: 0;
  height: 100%;
  overflow-y: scroll;
  z-index: 999;
  padding-bottom: 50px;
}

.mobile__hide {
  display: none;
}

.mobile__list {
  padding: 12px 24px;
}

.mobile__item {
  margin-bottom: 12px;
  &:first-child {
    margin-top: 16px;
  }
}

.mobile__item a {
  padding-left: 16px;
  font-family: var(--mont);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #7b8990;
  text-decoration: underline;
}

.nav__item__arrow::after {
  content: "" !important;
}

@media (max-width: 1500px) {
  .nav__list {
    background: rgba(255, 255, 255, 0.1);
    justify-content: space-between;
    align-items: center;
  }

  .header__theme .nav__list {
    background-color: rgb(232, 241, 245);
  }

  .menu {
    max-width: 1320px !important;
  }

  .nav__item {
    border-right: none;
    background-color: transparent;
    padding: 20px 6px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &::after {
      content: "" !important;
    }
  }
}

@media (max-width: 1450px) {
  .location {
    display: none;
  }
}

@media (max-width: 1150px) {
  // .logo__link {
  //   order: 1;
  // }
  .location {
    display: none;
  }
  .logo {
    // width: 75%;
    justify-content: space-between;
    gap: 16px;
    & a {
      margin: 0 auto;
    }
    & p {
      margin-left: 0;
    }
  }
  .menu.menu__news {
    padding: 40px 6px;
  }
}

.logo__mobile {
  display: none;
}

@media (max-width: 992px) {
  .logo__text {
    display: none;
  }
}

@media (max-width: 800px) {
  .logo__call_mobile {
    display: flex;
  }
  .nav__list {
    display: none;
  }
  .logo a {
    margin: 0;
  }
  .logo__menu_mobile_back.logo__menu_mobile {
    display: flex;
  }
  .logo__menu_mobile {
    display: block;
  }
  .logo__text {
    display: none;
  }
  .tel {
    display: none;
  }
  .logo__link {
    order: 0;
  }
  .logo {
    width: 100%;
    .logoRt {
      display: block;
      border-radius: 0 0 8px 8px;
    }
  }
  .header .container {
    padding: 0;
  }
  .logo__mobile {
    display: block;
  }
  .logo__img {
    display: none;
  }

  .logo {
    margin-bottom: -20px;
  }

  .logoRt {
    display: none;
  }
}

@media (max-width: 567px) {
  .logo {
    .logoRt {
      display: none;
    }
  }
}
