.item,
.item__scroll {
    background-color: #f7f7f7;
    width: 100%;
    margin-bottom: 4px;
    position: relative;
}

.circle {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 16px;
    top: 14px;
}

.circle__active {
    background-color: #ff4545;
}

.item__red {
    color: #ff4545 !important;
}

.item__link {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    padding-left: 16px;
    display: block;
    width: 100%;
    padding-bottom: 16px;
    padding-top: 16px;
}

.item__scroll a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    padding-left: 16px;
    display: block;
    width: 100%;
    padding-bottom: 16px;
    padding-top: 16px;
}

.list {
    display: none;
}

.list__open {
    display: block;
}

.line {
    background-color: rgba(#7b8990, 0.2);
    height: 1px;
    width: 100%;
}

.line__red {
    background: linear-gradient(180deg, #fd2b2b 0%, #ad3333 100%);
    height: 4px;
}

.line__hide {
    display: none;
}
