.intro {
    height: 97vh;
}

.wrapper {
    position: relative;
    z-index: 2;
}

.services__text {
    font-size: 20px;
    font-weight: 400;
    max-width: 969px;
    margin-top: 30px;
    margin-bottom: 100px;
    line-height: 35px;
}

.services__info {
    padding-top: 82px;
    padding-bottom: 100px;
}

.info__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.info__item_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    max-width: 786px;
}

@media (max-width: 1250px) {
    .info__item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .info__item_text {
        font-size: 18px;
        margin-top: 30px;
    }

    .form__wrap {
        gap: 50px;
    }
    .services__text {
        font-size: 16px;
    }
}

.supplies {
    color: #fff;
    background-image: url("../../../public/images/services/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 98px 0 112px 0;
    margin-bottom: 80px;
}

.supplies__wrap {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.supplies__text {
    max-width: 742px;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.supplies__title {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 46px;
    margin-top: 66px;
    margin-bottom: 35px;
}

.supplies__items {
    display: flex;
    gap: 9px;
    flex-wrap: wrap;
}

.supplies__item {
    position: relative;
    max-width: 174px;
    width: 100%;
    height: 223px;
}

.supplies__item_img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 235px;
    z-index: 2;
}

.supplies__item_text {
    font-size: 15px;
    padding-top: 18px;
    max-width: 170px;
    font-weight: 700;
    z-index: 4;
    line-height: 26px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 4;
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .supplies__wrap {
        flex-direction: column;
    }

    .supplies {
        background-position: 10%;
    }
}

@media (max-width: 900px) {
    .supplies__items {
        flex-wrap: wrap;
        gap: 20px;
    }

    .supplies__title {
        font-size: 24px;
    }

    .supplies__text {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .supplies__items {
        flex-direction: column;
        align-items: center;
    }
}
