// Mont

@font-face {
    font-family: "Mont";
    src: url("../../../public/fonts/Mont-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Mont";
    src: url("../../../public/fonts/Mont-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Mont";
    src: url("../../../public/fonts/Mont-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Mont";
    src: url("../../../public/fonts/Mont-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Mont";
    src: url("../../../public/fonts/Mont-Heavy.ttf");
    font-weight: 800;
    font-style: normal;
}

// Gillroy

@font-face {
    font-family: "Gillroy";
    src: url("../../../public/fonts/Gilroy-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gillroy";
    src: url("../../../public/fonts/Gilroy-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gillroy";
    src: url("../../../public/fonts/Gilroy-Black.woff2");
    font-weight: 800;
    font-style: normal;
}

// TT Firs Neue

@font-face {
    font-family: "TT Firs Neue";
    src: url("../../../public/fonts/TTFirsNeue-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT Firs Neue";
    src: url("../../../public/fonts/TTFirsNeue-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Firs Neue";
    src: url("../../../public/fonts/TTFirsNeue-Bold.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../../public/fonts/OpenSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../../public/fonts/OpenSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
